html, body {
    font: 100% "Trebuchet MS", sans-serif;
    color: #442000;
    background: #f5d29b;
}

.clear {
    clear: both;
}

.mainmenu {
    list-style: none;
    background: #7a4314;
    height: 60px;
    margin: 0;
    padding: 0;
    font-size: 17px;
    overflow: hidden;

}

.mainmenu {
    float: left;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mainmenu .last {float: right}

.mainmenu  a{
    color: #fff1e2;
    text-decoration: none;
}

.mainmenu a:hover{
    color: #daae84;
}

.menu{
    margin: auto;
}

div.content h1 {
    width: auto;
    text-align: center;
    font-size: 20px;
}

.list-posts{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: space-around;
}

.list-posts .task{
    width: 400px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: #c39964;
    color: #4b2601;
    box-shadow: 5px 5px 10px #594121;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}
.list-posts .group{
    width: 400px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: #c39964;
    color: #4b2601;
    box-shadow: 5px 5px 10px #594121;
    margin: 20px 20px 20px 20px;
}
.task a{
    color: #492905;
    text-decoration: underline;
}

.list-posts .title {
    margin: 0;
    padding: 10px;
    background: #f8edd4;
    border-radius: 8px;
}

.list-posts .annonce {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.list-posts .clients{
    width: 400px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: #c39964;
    color: #4b2601;
    box-shadow: 5px 5px 10px #494346;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}

.list-posts a{
    text-decoration: none;
}


.client{
    width: 450px;
    margin: 20px auto 0 auto;
    background: #c39964;
    box-shadow: 5px 5px 10px #332b1e;
    border-radius: 8px;
}

.client .annonce{
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.client .title{
    margin: 0;
    padding: 10px;
    background: #f8edd4;
    border-radius: 8px;
}

.butt_client{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.del_but{
    font-size: 12px;
    border-radius: 4px;
    border: 3px solid #281300;
    background: #6e1400;
    color: white;
    margin: 10px 0 10px 10px;
    padding: 5px;
    cursor: pointer;
}

.change_but{
    font-size: 12px;
    border-radius: 4px;
    border: 3px solid #281300;
    background: #6e3800;
    color: white;
    margin: 10px 0 10px 10px;
    padding: 5px;
    cursor: pointer;
}

#report-form {
    width: 350px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background: #c39964;
    box-shadow: 5px 5px 10px #4d483f;
    border-radius: 8px;
}

.report {
    width: 200px;
    border: none;
    background: #c39964;
    font-size: 16px;
    padding: 0 0 0 20px;
}

.rep_button {
    font-size: 16px;
    border-radius: 4px;
    border: 3px solid #522901;
    background: #6e3800;
    color: white;
    margin: 10px 0 10px 10px;
    padding: 1% 30%;
}

form .search {
    width: auto;
    margin: 50px auto auto 600px;
    background: #fcf0e9;
    border: 1px solid #6e3800;
    display: inline-block;
    border-radius: 3px;
    font-size: 20px;
}

input {
    padding:4px 10px;
    border:0;
    font-size:16px;
  }

form button{
    width: 40px;
    height: 25px;
    background: #ce7d2e;
    color: #522901;
    border: 1px solid #6e3800;
    border-radius: 3px;
}

form button:hover{
    background: #E0CFB1;
}

#prof_form {
    width: 300px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background: #c39964;
    box-shadow: 5px 5px 10px #625e5b;
    border-radius: 8px;
}
ul.profile-info {
    list-style: none;
    padding: 0;
    margin: 20px 20px 20px 20px;
    color: #4b2601;
}

ul.profile-info li {
    margin-top: 10px;
}

#prof_form p{
    padding-top: 10px;
    border-top: 1px solid #462301;
    text-align: center;

}

#prof_form a{
    color: #331901;
    text-decoration: underline;
}

#prof_form a:hover {
    color: #934c01;
    text-decoration: underline;
}

#add-task{
    width: 450px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background: #c39964;
    box-shadow: 5px 5px 10px #332b1e;
    border-radius: 8px;
}

.task-button{
    font-size: 16px;
    border-radius: 4px;
    border: 3px solid #281300;
    background: #6e3800;
    color: white;
    margin: 10px 0 10px 10px;
    max-width: 100%;
}

form .task_title {
    padding: 0;
    margin: 5px auto 5px 20px;
}

input.task_input{
    width: 200px;
    border: none;
    border-bottom: 1px solid #522901;
    font-size: 16px;
    margin: 5px auto auto 20px;
}

.add_smth{
    background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #e8dfd3;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
    justify-content: center;
	align-items: center;
	width: 100%;
	color: #522901;
	box-shadow: 0px 2px 2px #d97706;
	cursor: pointer;
	transition: 2s;
}

.warning{
    background: #a22a2a;
    color: #ffffff;
    font-size: 100%;
    padding: 5px 5px 5px 5px;
}

.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
    font-size: 16px;
}

.flash {
    padding: 10px;
}

.flash.success{
    background: #287233;
    color: white;
    font-size: 18px;
    text-align: center;
}

.flash.error {
    background: #af310c;
    color: white;
    font-size: 18px;
    text-align: center;
}

input[type=text]::-ms-clear {
    display: none; width : 0; height: 0;
}
input[type=text]::-ms-reveal {
    display: none; width : 0; height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
