{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
    {% if (admin or manager) %}
<div id="add-task">
    <form action="" method="post" class="form-contact">
        <div class="task_title">Время и дата начала: </div>
            <input class="task_input" type="text" name="start" value="" placeholder="формат YY:MM:DD hh:mm:ss" required />
        <div class="task_title">Время и дата окончания: </div>
            <input class="task_input" type="text" name="finish" value="" placeholder="формат YY:MM:DD  hh:mm:ss" required />
        <div class="task_title">Номер группы: </div>
            <input class="task_input" type="text" name="group" value=""  placeholder="пример: 1" required />
        <div class="task_title">Номер тренера: </div>
            <input class="task_input" type="text" name="trainer" value="" placeholder="пример: 2" required />
        <div class="task_title">Спорт. оборудование:
            <select class="reg_select" name="equip">
                {% for equip in equips %}
                <option value="{{ equip[0] }}">{{ equip[1] }}</option>
                {% endfor %}
            </select>
            </div>
        <div class="task_title">Описание: </div>
        <p><textarea name="description" rows=7 cols=40></textarea>
        <div>
        <input class="task-button" type="submit" value="Добавить тренировку." />
        </div>
    </form>
</div>
    {% endif %}
{% if not (admin or manager) %}
            <p>Доступ запрещен. Вернись на <a href="{{ url_for('index') }}">главную</a> страницу.
        {% endif %}
{% endblock %}