<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"  />
{% block title -%}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Рабочая область компании "Stray Parents"</title>
        {% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
    <div class="mainmenu">
        {% if not current_user.is_authenticated %}
            <div class="menu">  <a href="{{ url_for('login') }}">Авторизация</a> </div>
        {% endif %}
        {% if current_user.is_authenticated %}
            <div class="menu"> <a href="{{ url_for('index') }}">Тренировки</a> </div>
            <div class="menu"> <a href="{{ url_for('equipment') }}">Спорт. оборудование</a> </div>
        {% endif %}
        {% if current_user.is_authenticated and (manager or admin)%}
            <div class="menu"> <a href="{{ url_for('addTrain') }}">Добавить тренировку</a> </div>
            <div class="menu"> <a href="{{ url_for('generate_train_report') }}">Отчет тренировок</a> </div>
        {% endif %}
        {% if current_user.is_authenticated and admin%}
            <div class="menu"> <a href="{{ url_for('clients') }}">Клиенты</a> </div>
            <div class="menu"> <a href="{{ url_for('addClient') }}">Добавить клиента</a> </div>
            <div class="menu"> <a href="{{ url_for('register') }}">Добавить сотрудника</a> </div>
            <div class="menu"> <a href="{{ url_for('deleteEmployee') }}">Удалить сотрудника</a> </div>
            <div class="menu"> <a href="{{ url_for('groups') }}">Спорт. группы</a> </div>
        {% endif %}
        {% if current_user.is_authenticated %}
            <div class="menu"> <a href="{{ url_for('profile') }}">Профиль</a> </div>
        {% endif %}
    </div>
    {% endblock mainmenu -%}
    <div class="clear"></div>

    <div class="content">
        {% if title -%}
            <h1>{{ title }}</h1>
        {% else -%}
            <h1>Рабочая область компании "Stray Parents"</h1>
        {% endif -%}
    </div>
{% endblock -%}


</body>
</html>