{% extends 'base.html' %}
    {% block content %}
        {{ super() }}
        {% for cat, msg in get_flashed_messages(True) %}
        <div  class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}
        {% if  admin %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        <form action="" method="POST">
        <div class="search">
            <input type="search" placeholder="Введите номер клиента " name="id">
        </div>
            <button><i class="fas fa-search"></i></button>
        </form>

        <div class="list-posts">
        {% for client in clients %}
            <a href="{{ url_for('showClient', id_client=client[0]) }}">
                <div class="clients">
                    <div class="title">Номер клиента: {{ client[0] }}</div>
                    <div class="annonce">Имя: {{ client[1] }}</div>
                    <div class="annonce">Фамилия: {{ client[2] }}</div>
                    <div class="annonce">Отчество: {{ client[3]}}</div>
                    <div class="annonce">Номер: {{ client[4]}}</div>
                    <div class="annonce">Почта: {{ client[5]}}</div>
                    <div class="annonce">Дата рождения: {{ client[7]}}</div>
                    <div class="annonce">Адрес: {{ client[6]}}</div>
                </div>
            </a>
        {% endfor %}
        </div>
        {% endif %}
        {% if not admin %}
            <p>Доступ запрещен. Вернись на <a href="{{ url_for('index') }}">главную</a> страницу.
        {% endif %}
    {% endblock %}
