{% extends 'base.html' %}


    {% block content %}
        {{ super() }}
        {% for cat, msg in get_flashed_messages(True) %}
        <div  class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}
        {% if admin %}
        <div class="list-posts">
            {% for equip in equips %}
                <div class="task">
                    <div class="title">Id оборудования: {{ equip[0] }}</div>
                    <div class="annonce">Название: {{ equip[2] }}</div>
                    <div class="annonce">Инвентарный номер: {{ equip[1] }}</div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if not admin%}
            <p>Доступ запрещен. Вернись на <a href="{{ url_for('index') }}">главную</a> страницу.
        {% endif %}

    {% endblock %}
