{% extends 'base.html' %}


    {% block content %}
        {{ super() }}
        {% for cat, msg in get_flashed_messages(True) %}
        <div  class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}
        {% if admin %}
            <div>
                <button class="add_smth" onclick="document.location='{{ url_for('addEquip') }}'">Добавить оборудование</button>
            </div>
        <div class="list-posts">
            {% for equip in equips %}
                <a href="{{ url_for('editEquip', id_equip=equip[0]) }}">
                    <div class="task">
                        <div class="title">Id оборудования: {{ equip[0] }}</div>
                        <div class="annonce">Код поставщика: {{ equip[2] }}</div>
                        <div class="annonce">Название: {{ equip[1] }}</div>
                        <div class="annonce">Количество: {{ equip[3] }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% endif %}
        {% if not admin%}
            <p>Доступ запрещен. Вернись на <a href="{{ url_for('index') }}">главную</a> страницу.
        {% endif %}

    {% endblock %}
