{% extends 'base.html' %}


    {% block content %}
        {{ super() }}
        {% for cat, msg in get_flashed_messages(True) %}
        <div  class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}

        <div class="list-posts">
            {% for train in trainings %}
                <div class="task">
                    <div class="title">Id тренировки:  <a href="{{ url_for('showTrain', id_train=train[0]) }}">{{ train[0] }}</a></div>
                    <div class="annonce">Дата проведения: {{ train[1] }}</div>
                    <div class="annonce">Время начала: {{ train[2] }}</div>
                    <div class="annonce">Время окончания: {{ train[3]}}</div>
                    <div class="annonce">Проведена тренировка? {{ train[4]}}</div>
                    <div class="annonce">Номер группы: {{ train[6]}}</div>
                    <div class="annonce">Описание: {{ train[5]}}</div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
