{% extends 'base.html' %}


    {% block content %}
        {{ super() }}
        {% for cat, msg in get_flashed_messages(True) %}
        <div  class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}

        <div class="list-posts">
            {% for train in trainings %}
                <a href="{{ url_for('train', id_train=train[0]) }}">
                    <div class="task">
                        <div class="title">Id тренировки: {{ train[0] }}</div>
                        <div class="annonce">Дата и время начала: {{ train[1] }}</div>
                        <div class="annonce">Дата и время окончания: {{ train[2] }}</div>
                        <div class="annonce">Проведена тренировка? {{ train[3]}}</div>
                        <div class="annonce">Номер группы: {{ train[5]}}</div>
                        {% if admin or manager %}
                            <div class="annonce">Номер тренера: {{ train[6]}}</div>
                        {% endif %}
                        <div class="annonce">Описание: {{ train[4]}}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endblock %}
