<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}"  />
    {% block title -%}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Рабочая область компании "Stray Parents"</title>
        {% endif %}
{% endblock %}
</head>

<body>
    {% for cat, msg in get_flashed_messages(True) %}
    <div  class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}

    <div class="container">
	    <div class="screen">
		    <div class="screen__content">
                <form action="" method="post" class="form-contact">
                        <div class="login_field">
                                <input type="text" class="login_input" name="username" placeholder="Логин" value="" required >
                        </div>
                        <div class="login_field">
                                <input type="password" class="login_input" name="psw" placeholder="Пароль" value="" required >
                        </div>
                        <div>
                            <input class="log_button" type="submit" value="Войти" />
                        </div>
                </form>
            </div>

            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>

</body>
</html>