{% extends 'base.html' %}


{% block content %}
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
    <div  class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}

    <div id="prof_form">
        <ul class="profile-info">
        <li> Имя: {{ current_user.getName() }}</li>
        <li> Emal:: {{ current_user.getEmail() }}</li>
        <li> Телефон: {{ current_user.getPhone() }}</li>
        <li> Код должности: {{ current_user.getRoleId() }}</li>
        </ul>
        <p><a href="{{ url_for('logout') }}">Выйти из профиля</a>
    </div>
{% endblock %}

