{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
    {% if admin %}
<div id="add-task">
    <form action="" method="post" class="form-contact">
        <div class="task_title"> Имя: </div>
            <input class="task_input" type="text" name="firstname" value="" required />
        <div class="task_title">Фамилия: </div>
            <input class="task_input" type="text" name="surname" value="" required />
        <div class="task_title">Отчество: </div>
            <input class="task_input" type="text" name="lastname" value="" required />
        <div class="task_title">Почта: </div>
            <input class="task_input" type="text" name="email" value="" placeholder="формат example@example.com" required />
        <div class="task_title">Телефон: </div>
            <input class="task_input" type="text" name="phone" value="" placeholder="формат xxxxxxxxxxx" required />
        <div class="task_title">Логин: </div>
            <input class="task_input" type="text" name="username" value="" required />
        <div class="task_title">Пароль: </div>
            <input class="task_input" type="password" name="psw" value="" required />
        <div class="task_title">Повтор пароля: </div>
            <input class="task_input" type="password" name="psw2" value="" required />
        <div class="task_title">Опыт работы: </div>
            <input class="task_input" type="text" name="expirience" value="" placeholder="полных лет" required />
        <div class="task_title">Роль:
            <select class="reg_select" name="role">
                <option value="trainer">тренер</option>
                <option value="manager">менеджер</option>
            </select>
            </div>
        <p><input class="task-button" type="submit" value="Добавить cсотрудника" />
    </form>
</div>
    {% endif %}
{% if not admin%}
            <p>Доступ запрещен. Вернись на <a href="{{ url_for('index') }}">главную</a> страницу.
        {% endif %}
{% endblock %}