<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/regist_style.css') }}"  />
    {% block title -%}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Рабочая область компании "Stray Parents"</title>
        {% endif %}
{% endblock %}
</head>
<body>
    {% for cat, msg in get_flashed_messages(True) %}
    <div  class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <div id="reg_form">
    <h1>Форма регистрации</h1>

    <form action="/register" method="post" class="form-contact">
    <ul class="reg_list">
        <li>
            <div class="reg_title">Имя:</div>
            <input class="reg_input" type="text" name="name" value="" required/>
        </li>
        <li>
            <div class="reg_title">Логин:</div>
            <input class="reg_input" type="text" name="username" value="" required/>
        </li>
        <li>
           <div class="reg_title">Пароль:</div>
            <input class="reg_input" type="password" name="psw" value="" required/>
        </li>
        <li>
           <div class="reg_title">Повторите пароль:</div>
            <input class="reg_input" type="password" name="psw2" value="" required/>
        </li>
        <li>
            <div class="reg_title">Телефон:</div>
            <input class="reg_input" type="text" name="phone" value="" required/>
        </li>
        <li>
             <div class="reg_title">Почта:</div>
            <input class="reg_input" type="text" name="email" value="" required/>
        </li>
        <li>
            <div class="reg_title">Ваша роль
            <select class="reg_select" name="role">
                <option value="worker">работник</option>
                <option value="manager">менеджер</option>
            </select>
            </div>
        </li>
        </ul>
        <div><input class="reg_button" type="submit" value="Регистрация"></div>
    </form>
    </div>
</body>
</html>