{%  extends 'base.html' %}

{% block content %}
{{ super() }}


    <div id="add-task">
        <div class="current-task">
        <div class="task-id">
            <h3>Номер задания: {{ task[0] }}</h3>
            </div>
        </div>
         <form action="" method="post" class="form-contact">
             <div class="task_title">Дедлайн: </div>
                    <input class="task_input" type="text" name="deadline" value="{{ task[3] }}" required />
             <div class="task_title">Дата принятия: </div>
                    <input class="task_input" type="text" name="accept" value="{{ task[4] }}" required />
             <div class="task_title">Статус: </div>
                    <input class="task_input" type="text" name="status" value="{{ task[6] }}" required />
                {% if current_user.is_authenticated and manager%}
                    <div class="task_title">Номер исполнителя: </div>
                    <input class="task_input" type="text" name="executor" value="{{ task[9] }}" required />
                {% endif %}
             <div class="task_title">Номер приоритета: </div>
                    <input class="task_input" type="text" name="priority" value="{{ task[11] }}" required />
             <p>Описание: </p>
             <p><label>
                    <textarea name="description" rows=7 cols=40 type="text">{{ task[5] }}</textarea>
                </label>
             <p><input class="task-button" type="submit" value="Изменить задание" />
         </form>
    </div>
{% endblock %}