{%  extends 'base.html' %}

{% block content %}
{{ super() }}


    <div id="add-task">
        <div class="current-task">
        <div class="task-id">
            <h3>Номер тренировки: {{ training[0] }}</h3>
            </div>
        </div>
         <form action="" method="post" class="form-contact">
             <div class="task_title">Дата и время начала: </div>
                    <input class="task_input" type="text" name="start" value="{{ training[1] }}" required />
             <div class="task_title">Дата и время окончания: </div>
                    <input class="task_input" type="text" name="finish" value="{{ training[2] }}" required />
                {% if manager or admin%}
                    <div class="task_title">Номер группы: </div>
                        <input class="task_input" type="text" name="group" value="{{ training[5] }}" required />
                    <div class="task_title">Номер тренера: </div>
                        <input class="task_input" type="text" name="trainer" value="{{ training[6] }}" required />
                    <p>Описание: </p>
                    <p><label>
                        <textarea name="description" rows=7 cols=40 type="text">{{ training[4] }}</textarea>
                    </label>
                {% endif %}
             <div><input class="task-button" type="submit" value="Изменить тренировку" /></div>
         </form>
    </div>
{% endblock %}