{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
    <div id="report-form">
        <form action="" method="post" class="form-contact">
            <p class="report">Начало периода: <input type="text" placeholder="Введите дату" name="start" value="" required />
            <p class="report">Конец периода: <input type="text" placeholder="Введите дату" name="finish" value="" required />
            <p class="report">Путь сохранения: <input type="text" placeholder="Введите путь" name="path" value="" required />
            <p><input class="rep_button" type="submit" value="Получить отчет" />
        </form>
    </div>
{% endblock %}